<launch>
  <node name="move_base" pkg="move_base" type="move_base" output="screen">
    <param name="base_global_planner" value="navfn/NavfnROS"/>
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
    <rosparam file="$(find motion)/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find motion)/config/local_costmap_params.yaml" command="load" ns="local_costmap"/>
  </node>
</launch>

